cargo-features = ["edition"]

[package]
edition = "2018"
name = "sortpar"
version = "0.1.0"
authors = ["Garrett Squire <garrettsquire@gmail.com>"]

[dependencies]
caseless = "0.2"
clap = "2.32"
itertools = "0.7"
lazy_static = "1.0"
natord = "1.0"
rayon = "1.0"
regex = "1.0"
version-compare = "0.0"
